.LeadGenerationPage {
  width: auto;
  height: auto;
  /* border: 1px solid red; */
  margin-top: 0;
  overflow-x: hidden;
}

.LeadingGenSection {
  /* border-bottom: 1px solid var #fcf6d9; */
  /* background: linear-gradient(269deg, #fdf9e6 44.62%, #fff 91.54%); */
  position: relative;
  max-width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  /* justify-content: flex-end; */
  align-items: center;

  /* background-color: var(--hover2); */
}


.LeadGenContainer {
  position: relative;
  max-width: 100%;
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.vectortopImg {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 10%;
  right: 22%;
}

.leadGenTextContainer {
  padding-left: 98px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 540px;
}

.LeadGenContainer .leadtextheader {
  display: flex;
  gap: 1em;
  align-items: center;
}

.textheaderimg {
  position: relative;
  width: 20px;
  height: 20px;
}

.leadtextheader h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--blueText);
}

.leadGenTextContainer h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
  color: var(--blueText);
}
.leadGenaImageContainer {
  position: relative;
  margin-top: 6rem;
}

.leadmanImg {
  position: relative;
  width: 914px;
  height: 674px;
}

.leadimgstat {
  position: absolute;
  width: 250px;
  height: 150px;
  right: 60%;
  top: 15%;
}

.leadimgstat2 {
  position: absolute;
  width: 280px;
  height: 200px;
  right: 45%;
  bottom: 7%;
}

/* LEAD GENERATION MEDIA SCREEN */

@media (max-width: 1250px) {
  .LeadingGenSection {
    min-height: 100%;
  }

  .leadGenTextContainer {
    padding-left: 2rem;
    min-width: 50%;
  }

  .LeadGenContainer {
    justify-content: center;
  }
  .leadGenaImageContainer {
    width: 50%;
  }

  .leadmanImg {
    position: relative;
    min-height: 554px;
    object-fit: cover;
  }

  .leadimgstat {
    right: 40%;
  }
}

@media (max-width: 950px) {
  .leadGenTextContainer {
    margin-left: 4rem;
    min-width: 40%;
  }
  .leadGenaImageContainer {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .LeadGenerationPage {
    margin-top: 3rem;
  }
}

@media (max-width: 450px) {
  .LeadGenContainer {
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
  }

  .leadGenTextContainer {
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin-top: 8rem;
  }

  .leadmanImg {
    height: 557.199px;
  }

  .leadimgstat {
    width: 200px;
    height: 150px;
  }

  .leadimgstat2 {
    width: 150px;
    height: 150px;
  }

  .leadGenTextContainer h1 {
    font-size: 32px;
    align-self: stretch;
  }
  .LeadingGenSection {
    border-bottom: 1px solid var(--foundation-yellow-light-hover, #fcf6d9);
    background: linear-gradient(4deg, #fdf9e6 18.66%, #fff 73.37%);
    height: 70vh;
    align-items: center;
  }

  .leadGenTextContainer {
    padding-left: 0;
    padding: 0 1rem;
    width: 100vw;
  }

  .leadGenaImageContainer {
    width: 200vw;
  }
}

@media (max-width: 450px) {
  .leadimgstat {
    position: absolute;
    width: 180px;
    height: 150px;
    right: 50%;
    top: 5%;
  }
}

/* LEAD GENERATION SERVICES SECTION */
.leadServicesSection {
  width: 100%;
  height: 100%;
  margin-top: 6rem;
}

.leadGenServicesContainer {
  /* padding: 6rem 0; */
  max-width: 1120px;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.leadGenServicesContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leadGenServicesContentText h4 {
  color: var(--blueText);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
  text-transform: capitalize;
  /* width: 80%; */
  margin-bottom: 1rem;
  font-family: var(--text-Font-Bold);
}

.leadGenServicesContentText {
  width: 40%;
}

.leadImageWrapper {
  position: relative;
}

.leadImgabsolute {
  position: absolute;
  width: 200px;
  height: 150px;
  top: 0;
  left: -10%;
  z-index: 22;
}

.leadImgabsolutebottom {
  position: absolute;
  width: 250px;
  height: 150px;
  bottom: -10%;
  right: -10%;
  z-index: 22;
}
.leadservicesImg {
  position: relative;
  width: 497.683px;
  height: 340.879px;
}

/* LEAD GENERATION SERVICES */

@media (max-width: 950px) {
  .leadservicesImg {
    width: 261.284px;
    height: 178.961px;
  }

  .leadImgabsolute {
    width: 150px;
    height: 150px;
    top: 0;
    left: -30%;
  }

  .leadImgabsolutebottom {
    width: 150px;
    height: 150px;
    bottom: -10%;
    right: -20%;
  }
}

@media (max-width: 763px) {
  .leadImgabsolutebottom {
    right: -10%;
  }
}

@media (max-width: 722px) {
  .leadservicesImg {
    width: 461.284px;
    height: 278.961px;
  }

  .leadImgabsolute {
    width: 200px;
    height: 200px;
    top: 0;
    left: -10%;
  }

  .leadImgabsolutebottom {
    width: 200px;
    height: 200px;
    bottom: 20%;
    right: -10%;
  }

  .leadGenServicesContent {
    flex-direction: column;
    gap: 1.5em;
  }

  .leadGenServicesContent:last-of-type {
    flex-direction: column-reverse;
  }

  .leadGenServicesContentText {
    width: 70%;
  }
  .leadGenServicesContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .GetStartedbtn {
    display: flex;
    align-items: flex-start;
    width: fit-content;
  }
}

@media (max-width: 450px) {
  .leadservicesImg {
    width: 261.284px;
    height: 178.961px;
  }

  .leadImgabsolute {
    width: 120px;
    height: 150px;
    top: 0;
    left: -10%;
  }

  .leadImgabsolutebottom {
    width: 120px;
    height: 150px;
    bottom: -10%;
    right: -20%;
  }

  .leadGenServicesContent {
    gap: 1em;
  }
}

/* SERVICES CONTACT SECTION */

.servicesContactSection {
  max-width: 100%;
  height: 70vh;
  background-color: var(--blueText);
  margin-top: 6rem;
}

.servicesContactContainer {
  position: relative;
  max-width: 1120px;
  margin-inline: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.servicesContactContainer h2 {
  max-width: 730px;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.32px;
  margin-bottom: 1.5rem;
}

.servicesContactContainer button {
  width: 200px;
  height: 55px;
  padding: 8px;
  border-radius: 36px;
  background-color: var(--btn);
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.36px;
  border: none;
}

.servicesContactImgtop {
  position: absolute;
  width: 132px;
  height: 26px;
  top: 10%;
  right: 0;
  z-index: 22;
}

.servicesContactImgbottom {
  width: 194px;
  height: 36px;
  position: absolute;
  bottom: 40%;
  left: 0;
}

/* SERVICES CONTACT MEDIA SCREEN */

@media (max-width: 1025px) {
  .servicesContactSection {
    height: 50vh;
  }
}

@media (max-width: 450px) {
  .servicesContactContainer h2 {
    font-size: 24px;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .servicesContactSection {
    height: 50vh;
  }

  .servicesContactImgtop,
  .servicesContactImgbottom {
    display: none;
  }

  .servicesContactContainer button {
    width: 180px;
    height: 50px;

    font-size: 14px;
  }
}
