.form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fullname {
  display: flex;
  flex-grow: 1;
  gap: 0.7em;
}

.textarea {
  width: 590px;
  padding: 8px 12px;
  border-radius: 10px;
  color: var(--blueText);
  outline: none;
}

.textarea::placeholder {
  color: var(--blueText);
}

.form input {
  outline: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.fullname:focus {
  border-color: #007bff;
  outline: none;
}
.errorText {
  color: rgb(252, 5, 5);
  letter-spacing: 0.04ch;
  font-size: 14px;
  margin: 6px 0 0 6px;
}
